@font-face {
    font-family: 'Comfortaa';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/comfortaa/v30/1Pt_g8LJRfWJmhDAuUsSQamb1W0lwk4S4WjMDrcfIA9c.woff2) 
    format('woff2');
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

* {
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
}

body {
    font: 1.2em 'Comfortaa';
    font-weight: 500;
    line-height: 1.8em;
    color: #be5b2dee;
    background-color: #ffffff;
    background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23d2691e' fill-opacity='0.13' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
}

.wrapper {
    display: flex;
    min-height: 100%;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    text-align: center;
}

.header, footer {
    font-size: 0.8em;
    color: #ffffff;
    background-color: #f4b46a;
    padding: 0 15px;
}

.header-heading {
    margin-top: 10px;
    margin-bottom: 0;
}

.header-slogan {
    margin-top: 0;
    margin-bottom: 5px;
}

.rules {
    margin: auto 0;
}

.rules-wrapper {
    max-width: 730px;
    margin: 0 auto;
    padding: 0 15px;
    text-align: center;
}

.rules-desctiption {
    font-size: 1.3em;
}

button {
    padding: 0.6em 0.8em;
    font-family: 'Comfortaa';
    font-size: 1.2em;
    font-weight: bold;
    color: white;
    background-color: #ffa65e;
    border-radius: 0.5em;
    border: none;
}

.game-container {
    max-width: 1130px;
    margin: 0 auto;
    padding: 0 15px;
    text-align: center;
}

.game {
    display: flex;
    justify-content: space-evenly;
}

@media screen and (max-width: 873px) {
    .game {
        display: block;
    }
}

.table-wrapper {
    min-width: 35vw;
}

table {
    display: none;
    margin: 1em auto;
    padding: 5px;
    width: 100%;
    min-height: 35vw;
    border-spacing: 0;
    border-radius: 2%;
    background-color: #ffd299;
}

@media screen and (max-width: 873px) {
    table {
        width: 90vw;
        height: 90vw;
    }
}

td {
    background-color: #e69341;
    border: 2px solid #ffd299;
}

td:hover {
    filter: brightness(95%) contrast(95%);
}

.hit {
    background-repeat: no-repeat;
    background-position: center;
    background-size: 90%;
    background-color: #be5a2d;
}

.miss {
    background-color: #be5a2d;
}

.win {
    color: #00643c;
}

.lose {
    color: #e4222f;
}

.game-statistics {
    margin-top: 1em;
    min-width: 40%;
    text-align: center;
    font-weight: 800;
    font-size: 1.3em;
}

.game-statistics #userResult {
    font-size: 1.5em;
    line-height: 1.4em;
}

@media screen and (max-width: 424px) {
    .game-wrapper {
        margin-top: 0;
    }
    .header-slogan {
        margin-top: 5px;
        line-height: 1em;
    }
    footer,
    .game-statistics {
        font-size: 0.8em;
        line-height: 0.5em;
    }
    .header-heading, .game-statistics #userResult, .game-statistics h2 {
        font-size: 1.2em;
        line-height: 1em;
    }
}

footer {
    padding: 10px 0;
    text-transform: none;
}

footer a {
    color: #ffffff;
}