@font-face {
    font-family: 'Comfortaa';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/comfortaa/v30/1Pt_g8LJRfWJmhDAuUsSQamb1W0lwk4S4WjMDrcfIA9c.woff2)
    format('woff2');
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

* {
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
}

body {
    font: 1.2em 'Comfortaa';
    font-weight: 500;
    line-height: 1.8em;
    color: #be5b2dee;
    background-color: #ffffff;
    background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23d2691e' fill-opacity='0.13' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
}

.wrapper {
    display: flex;
    min-height: 100%;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    text-align: center;
}

.header, footer {
    font-size: 0.8em;
    color: #ffffff;
    background-color: #f4b46a;
    padding: 0 15px;
}

.header-heading {
    margin-top: 10px;
    margin-bottom: 0;
}

.header-slogan {
    margin-top: 0;
    margin-bottom: 5px;
}

.rules {
    margin: auto 0;
}

.rules-wrapper {
    max-width: 730px;
    margin: 0 auto;
    padding: 0 15px;
    text-align: center;
}

.rules-desctiption {
    font-size: 1.3em;
}

button {
    padding: 0.6em 0.8em;
    font-family: 'Comfortaa';
    font-size: 1.2em;
    font-weight: bold;
    color: white;
    background-color: #ffa65e;
    border-radius: 0.5em;
    border: none;
    transition: all 0.1s;
}
button:focus {
    outline: none;
}
button:focus,
button:hover {
    background-image: linear-gradient(0.0deg, #ffa65e 0%, #ffbb84 100%);
}

button:active {
    transform: translateY(0.1em);
}

.game-container {
    display: none;
}

.game {
    display: flex;
    max-width: 1400px;
    margin: auto;
    padding: 15px;
    text-align: center;
    justify-content: space-evenly;
}

.gameboard {
    padding: 5px;
    min-width: 35vw;
    min-height: 35vw;
    border-spacing: 0;
    border-radius: 2%;
    background-color: #ffd299;
}

.gameboard-cell .hit {
    background-size: 90%;
}

.gameboard-cell {
    position: relative;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 80%;
    transition: all 0.3s;
    background-color: #be5a2d;
    border: 2px solid #ffd299;
}

.gameboard-cell::before,
.gameboard-cell::after {
    transition: all 0.4s;
    position: absolute;
    top: 0;
    width: 50%;
    height: 100%;
    content: "";
    background-color: #e69341;

}

.gameboard-cell::before {
    right: 0;
    transform-origin: right;
}

.gameboard-cell::after {
    left: 0;
    transform-origin: left;
}

.gameboard-cell.hit {
    background-repeat: no-repeat;
    background-position: center;
    background-size: 90%;
    background-color: #be5a2d;
}

.gameboard-cell.miss {
    background-color: #be5a2d;
}

.hit::before,
.hit::after,
.miss::before,
.miss::after {
    transform: scaleX(0);
}

.game-statistics {
    min-width: 33%;
    text-align: center;
    font-weight: 800;
    font-size: 1.3em;
}

.game-statistics #userResult {
    font-size: 1.4em;
    line-height: 1.4em;
}

#userResult.win {
    color: #00643c;
}

#userResult.lose {
    color: #e4222f;
}

footer {
    padding: 10px 0;
    text-transform: none;
}

footer a {
    color: #ffffff;
}
@media screen and (max-width: 1025px) {
    .header-heading {
        font-size: 1.2em;
        margin-top: 0;
    }
    .header-slogan {
        margin-bottom: 0.6em;
        font-size: 0.8em;
        line-height: 1em;
    }
    .game-statistics {
        font-size: 1em;
        line-height: 0.7em;
    }
}
@media screen and (max-width: 769px) {
    .game {
        flex-direction: column-reverse;
        align-items: center;
        min-height: 80vh;
    }
    table {
        width: 91vw;
        height: 91vw;
        margin: 0 auto;
    }
    #statHeading {
        font-size: 1.2em;
        line-height: 1.2em;
    }
    #userResult {
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        margin: 0;
        padding-top: 40vh;
        background-color: rgba(255, 255, 255, 0.822);
    }
    #continue-button {
        position: absolute;
        top: 47vh;
        left: 0;
        width: 55vw;
        margin: 0 22.5vw;
        line-height: 1.5em;
    }
}

@media screen and (max-width: 570px) {
    footer,
    .game-statistics {
        font-size: 0.8em;
        line-height: 0.7em;
    }
    #statHeading {
        margin-top: 0;
    }
}